body{
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #8A300A, #b24a1e, orange);
  background-size: 600% 600%;
  animation: gradient 15s infinite;
  color: white;
  font-family: 'Namun Gothic', sans-serif;
}

@keyframes gradient {
 0%   { background-position: 0% 50%; }
 50%  { background-position: 100% 50%;  }
 100% { background-position: 0% 50%; }
}
.title{
  font-family: 'Lobster Two', cursive;
  font-size: 5vw;
  letter-spacing: 0.66vw;
  color: #402D34;
  -webkit-text-stroke-width: 0.03vw;
  -webkit-text-stroke-color: #ECC38D;
}


#seven{
  border-color: #8A300A;
  top:-5vw;
  left:-150%;
  padding-top: 0vw;
  height: 10000px;
  width: 10000px;
  background-color: #8A300A;
  animation-name: transistion;
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  color:transparent;
  animation-timing-function:cubic-bezier(0.7,0.2,0.1,1);
  animation-delay: 0s;
}

@keyframes transistion {
  to {
    top:0.1vw;
    left: 47.5%;
    height: 2.9vw;
    padding-top: 0.5vw;
    width:3vw;
    color: black;
    position: relative;
    font-size: 2vw;
    background: white;
    text-align: center;
    border-radius: 50%;
    border: solid black 0.1vw;
    margin: 1vw;
  }
}

/*quotes  */
.quote{
  margin: auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
  width: 70vw;
  font-family: 'Lobster Two', cursive;
  font-size:3vw;
}

.bean{
  margin-left: 11vw;
  width: 6vw;
  height: 6vw;
  position:relative;
  float:left;
  opacity: 0;
  transition: width 2s, height 2s, opacity 1s, transform 2s;
  background-size: cover;
  background-image: url(../img/bean.png);
}
.bean:hover {
  width: 8vw;
  height: 8vw;
  transform: rotate(55deg);
}
.bean.show{
 opacity:1;

}
.b1{
    transform: rotate(25deg);
}
.b2{
  bottom: 3vw;
  transform: rotate(-25deg);
}



/* BOXES CONTAIMER */

.box1{
  height: 35vw;
  width: 90vw;
  margin:auto;
  position: relative;
  display:flex;
  text-align: left;
  object-position: center;
}
.box::before{
  padding: 10px;
  content:"";
  background:black;
  opacity:0.4;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
}
.vide{
  width: 40vw;
  height: 30vw;
}
.img1{
  margin: auto;
  padding-right: 100px;
  margin-right: 1vw;
  height: 33vw;
  width: 40vw;
  background-image: url(../img/sign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.textS{
  margin: auto;
  padding-left: 1vw;
  height: 30vw;
  width: 70vw;
  font-size: 2vw;
}
.intruc{
  font-size: 1.5vw;
}

.box2{
  height: 35vw;
  width: 90vw;
  margin:auto;
  position: relative;
  display:flex;
  text-align: left;
  object-position: center;
}
.img2{
  margin: auto;
  padding-right: 100px;
  height: 33vw;
  width: 40vw;
  margin-right: 1vw;
  background-image: url(../img/history.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box3{
  top: 7vw;
  height: 35vw;
  width: 90vw;
  margin:auto;
  position: relative;
  display:flex;
  text-align: left;
  object-position: center;
}
.img3{

  margin: auto;
  padding-right: 100px;
  height: 33vw;
  width: 40vw;
  margin-right: 1vw;
  background-image: url(../img/culture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box4{
  top: 10vw;
  height: 35vw;
  width: 90vw;
  margin:auto;
  position: relative;
  display:flex;
  text-align: left;
  object-position: center;
}


.movingtextbox{
  width: 100%;
  height: 4vw;;
  text-align: right;
  font-size: 2vw;
}
.movingtext{
  -webkit-animation:movingNow 5s linear infinite;
}


@-webkit-keyframes movingNow{
    0%{margin-right: 27vw; color:white}
    50%{margin-right: 0vw;color:black}
    100%{margin-right: 27vw;color:white}
}

@-webkit-keyframes shake{
  0%{transform: rotate(10deg);}
  70%{transform: rotate(-10deg);}
  100%{transform: rotate(10deg);}
}


@-webkit-keyframes shake2{
  0%{transform: rotate(-10deg);}
  70%{transform: rotate(10deg);}
  100%{transform: rotate(-10deg);}
}


/* SLIDING GALLERY*/

.slide{
  display: flex;
}

.gallery1{
  border: solid black 0.2vw;
  margin: auto;
  height: 20vw;
  width: 20vw;
  background-image: url(../img/caffee_farm.jpeg);
  -webkit-animation: shake 10s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery2{
  border: solid black 0.2vw;
  margin: auto;
  height: 20vw;
  width: 20vw;
  background-image: url(../img/caffee_outdoor.jpg);
  background-repeat: no-repeat;
  -webkit-animation: shake2 10s linear infinite;
  background-size: cover;

}
.gallery3{
    border: solid black 0.2vw;
  margin: auto;
  height: 20vw;
  width: 20vw;
  background-image: url(../img/staff.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: shake 10s linear infinite;
}
.gallery4{
  border: solid black 0.2vw;
  margin: auto;
  height: 20vw;
  width: 20vw;
  background-image: url(../img/frontdesk.jpg);
  background-repeat: no-repeat;
  -webkit-animation: shake2 10s linear infinite;
    background-size: cover;
}
.gallery5{
  border: solid black 0.2vw;
  margin: auto;
  height: 20vw;
  width: 20vw;
  background-image: url(../img/brew.jpg);
  -webkit-animation: shake 10s linear infinite;
  background-repeat: no-repeat;
    background-size: cover;
}
